@keyframes pulse {
  0% {
    background-color: var(--color1);
  }
  25% {
    background-color: var(--color2);
  }
  50% {
    background-color: var(--color3);
  }
  75% {
    background-color: var(--color4);
  }
  100% {
    background-color: var(--color5);
  }
}

.header {
  --color1: rgba(232, 225, 239, 1);
  --color2: rgba(217, 255, 248, 1);
  --color3: rgba(199, 255, 218, 1);
  --color4: rgba(196, 244, 199, 1);
  --color5: rgba(155, 178, 145, 1);

  animation: pulse 25s infinite alternate;
}
